html,
body {
  display: flex;
  flex-direction: row;
  flex: 1 1 100%;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background-color: var(--a-gray-light);
  color: var(--a-black);
  font-size: 16px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

app-root,
app-login,
app-masterpage,
app-home {
  display: flex;
  flex-direction: row;
  flex: 1 1 100%;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.a-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 100%;
  flex-shrink: 0;
}

.a-field label {
  color: var(--a-black);
  font-weight: 700;
  margin-bottom: 8px;
}

.a-field input {
  padding: 8px;
  border: 1px solid var(--a-gray-medium);
  border-radius: 8px;
  height: 40px;
}

.a-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px 16px;
  background-color: var(--a-accent-red);
  color: var(--a-white);
  border: 2px solid var(--a-accent-red);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.2s ease;
  height: 40px;
  min-width: 148px;
  font-size: 16px;
}

.m-top-auto {
  margin-top: auto;
}

.m-bottom-auto {
  margin-bottom: auto;
}